<div class="container">
<nav class="navbar">
  <ul class="nav navbar-nav">
  <li role="presentation">
    <a routerLink='/'>
      Index
    </a>
  </li>
  <li role="presentation">
    <a routerLink="/home">
      Home
    </a>
  </li>
  <li role="presentation">
    <a routerLink='/detail'>
      Detail
    </a>
  </li>
  <li role="presentation">
    <a routerLink='/about'>
      About
    </a>
  </li>
  <li role="presentation">
    <a routerLink='/login'>
      Login
    </a>
  </li>
  <li role="presentation">
    <a role="button" (click)="logout()">
      Logout
    </a>
  </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

<footer>
  <span>WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
  <div>
    <a [href]="url">
      <img [src]="angularclassLogo" width="25%">
    </a>
  </div>
</footer>
</div>