<div class="containter col-xs-offset-3 col-xs-9">
  <div class="col-xs-12">
    <h2>Model-based Form Example:</h2>
  </div>
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
          <label>Login:</label>
          <input type="text" formControlName="login" required>
          <span *ngIf="formErrors.login">{{ formErrors.login }}</span>
      </p>
      <p>
          <label>Password:</label>
          <input type="password" formControlName="password" required>
          <span *ngIf="formErrors.password">{{ formErrors.password }}</span>
      </p>
      <div class="form-group">
        <label>Gender</label>
        <label class="checkbox-inline">
          <input type="radio" name="gender" value="Male" formControlName="gender">
          Male
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="gender" value="Female" formControlName="gender">
          Female
        </label>
      </div>
      <div class="form-group">
        <label>Activities</label>
        <label class="checkbox-inline">
          <input type="checkbox" value="hiking" name="hiking" [formControl]="form.controls['hiking']"> Hiking
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="running" name="running" [formControl]="form.controls['running']"> Running
        </label>
      </div>
      <p>
        <button class="btn btn-primary" type="submit" [disabled]='!form.valid'>Submit</button>
      </p>
    </form>
  </div>
</div>